body {
    font-family: "Arimo", "Rubik","Roboto", "Helvetica", "Arial", sans-serif;
    background: #eee !important;
    font-weight: 300;
    line-height: 1.5em;
}

.rdtPicker {
  background-color: #9C27B0 !important;
}

.rdt input {
  font-family: "Arimo", "Rubik","Roboto", "Helvetica", "Arial", sans-serif;
}

.rdt input.form-control {
    box-shadow: none;
    border-color: transparent;
    border: 0;
    background-image: linear-gradient(#9c27b0,#9c27b0),linear-gradient(#d2d2d2,#d2d2d2)
}

.rdt input.form-control::-webkit-input-placeholder {
  color: white;
}

:placeholder-shown {
  color: white;
}

.rdtSwitch {
  font-family: "Arimo", "Rubik","Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: inherit;
}

.ct-series-a .ct-bar {
  /* Set the colour of this series line */
  stroke: #fb8c00;
  /* Control the thikness of your lines */
  stroke-width: 5px;
  /* Create a dashed line with a pattern */
  /* stroke-dasharray: 10px 20px; */
}

.ct-series-b .ct-bar {
  stroke: #ec407a;
  stroke-width: 5px;
}

.ct-series-a .ct-slice-pie {
  fill: #029fd7
}
.pie-slice-1 {
  fill: #029fd7
}

.ct-series-b .ct-slice-pie {
  fill: #48a84b
}
.pie-slice-2 {
  fill: #48a84b
}

.ct-series-c .ct-slice-pie {
  flll: #ff9a00
}
.pie-slice-3 {
  flll: #ff9a00
}

.ct-series-d .ct-slice-pie {
  fill: #ec407a
}
.pie-slice-3 {
  flll: #ec407a
}

.ct-chart-pie .ct-label {
  color: rgba(0, 0, 0);
  fill: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.46429em;
  dominant-baseline: central;
}

.ct-chart-bar .ct-label {
  color: rgba(0, 0, 0);
  fill: rgba(0, 0, 0, 0.8);
  font-size: 0.875rem;
  line-height: 1.46429em;
}
